* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body {
    background-image: url('babygoldy.jpg');
    font-family: sans-serif;
    padding: 20px;
    line-height: 1.6;
    background-size: cover; /* Ensures the image covers the whole container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
  }  

header {
    background: #332;
    color: #ff2;
    padding: 1rem 0;
    text-align: center;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 2rem 0;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.portfolio-item {
    background: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ddd;
}

form input, form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
}

footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: aqua;
  }
